.register__login {
  color: white;
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.register__login:visited {
    text-decoration: none;
    color: white;
}